* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ddd;
}

.game .container {
    width: 70%;
    margin: auto;
    text-align: center;
}
@media(max-width: 767px){
    .game .container {
        width: 100%;
        margin: auto;
        text-align: center;
    } 
}
.nav {
    background-color: rgb(98, 184, 255);
    padding: 15px;
    color: white;
    font-size: 25px;
    text-align: center;
}

.container .test {
    padding: 20px;
    background-color: white;
    font-size: 15px;
    margin: 10px;
    border-radius: 5px;
}

.container .start {
    background-color: rgb(68, 164, 121);
    width: 98%;
    padding: 10px;
    color: white;
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
}

.container .start:focus {
    outline: none;
    border: 2px solid rgb(98, 184, 255);
}

.container .input {
    width: 98%;
    border: 1px solid rgb(98, 184, 255);
    padding: 15px;
    border-radius: 5px;
}

.container .input:focus {
    outline: 2px solid rgb(98, 184, 255);
}

.container .the-word {
    padding: 10px;
    margin: 10px;
    color: rgb(8, 80, 80);
    font-size: 35px;
}

.container .word {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
}

.container .word .div {
    background-color: rgb(98, 184, 255);
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    color: white;
}

.container .control {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

.container .control span {
    color: rgb(68, 164, 121);
    margin: 5px;
}

.finsh {
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding: 15px;
}

.container .finsh .bad {
    color: rgb(217, 71, 71);
}

.container .finsh .good {
    color: rgb(98, 184, 255);
}